{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "modules": true,
    "blockBindings": true,
    "restParams": true,
    "objectLiteralShorthandProperties": true
  }
}
